@import url(./base.css);

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10rem 2rem 1fr 2rem;
  grid-template-areas:
    "header"
    "menu"
    "seccion"
    "footer";
}
header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

header nav menu {
  display: flex;
  gap: 1rem;
}

header nav menu li {
  display: flex;
  align-items: center;
}

body > nav menu {
  grid-area: menu;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  grid-area: seccion;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

@media (min-width: 600px) {
  body {
    grid-template-columns: 10rem 1fr;
    grid-template-rows: 5rem 1fr 2rem;
    grid-template-areas:
      "header header"
      "menu seccion"
      "footer footer";
  }

  header {
    flex-direction: row;
    justify-content: space-between;
  }

  body > nav menu {
    flex-direction: column;
  }

  main {
    row-gap: 2rem;
  }

  footer {
    gap: 2rem;
  }
}
