* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  --azul-cabecera: rgb(43, 118, 185);
  --azul: rgb(81, 143, 243);
  --azul-medio: rgb(130, 169, 228);
  --azul-claro: rgba(202, 225, 246, 0.808);
}

body {
  width: 100%;
}

ul {
  list-style: circle;
}

li {
  padding: 0.5rem;
  margin-left: 1rem;
  font-size: 1.7rem;
}

header {
  background-color: var(--azul-cabecera);
  height: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: white;
}

section {
  margin: 3rem;
}

section h2 {
  color: var(--azul-cabecera);
  font-size: 2.5rem;
}

section:nth-child(2) h2 {
  color: var(--azul);
}

section ul,
section:nth-child(2) table {
  padding: 0 2rem;
  margin: 2rem 0;
}

.importante {
  font-weight: bolder;
  text-decoration: underline;
}

section:nth-child(2) table {
  font-size: 1.7rem;
}

section:nth-child(2) th,
td {
  padding: 1rem 2rem;
}

section:nth-child(2) thead tr th {
  background-color: var(--azul);
  color: white;
  text-align: center;
}

section:nth-child(2) tbody tr th {
  background-color: rgba(106, 150, 245, 0.692);
}

section:nth-child(2) tbody tr:nth-child(even) {
  background-color: var(--azul-medio);
}

section:nth-child(2) tbody tr:nth-child(odd) {
  background-color: var(--azul-claro);
}

#descanso {
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 1.7rem;
}
